* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    cursor: none;
}

.cursor-inner {
    width: 5px;
    height: 5px;
    background-color: #fd5956;
}

.cursor-outer {
    width: 30px;
    height: 30px;
    border: 2px solid hsla(1, 98%, 66%, 0.5);
}

.cursor-inner,
.cursor-outer {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

.section1 {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "stack";
}

li,
a,
button {
    color: #4d4d4d;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}


.logo {
    width: 72px;
    cursor: pointer;
}

.navtext {
    list-style: none;
}

.navtext li {
    display: inline-block;
    padding: 0px 20px;
    font-size: .9rem;
}

.navtext a {
    transition: all 0.3s ease 0s;
}

.navtext a:hover {
    color: #fd5956;
}

button {
    height: 2.5rem;
    width: 9rem;
    padding: 9px 25px;
    background-color: #252525;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    font-weight: 600;
}

button:hover {
    background-color: #fd5956;

}

.backgroundtext {
    font-family: "Fasthand", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgba(253, 89, 86, 0.07);
    font-size: 40vw;
    text-overflow: clip clip;
    overflow: hidden;
    white-space: nowrap;
    z-index: -1;
    position: absolute;
}

.hola {
    font-weight: 600;
    color: #252525;
}

.rashmika {
    color: #fd5956;
    font-size: 1.3rem;
    padding-top: 2rem;
}

.texts {
    padding-left: 12rem;
    padding-top: 3rem;
}

.texts h1 {
    line-height: 100%;
    font-size: 5rem;
}

.maintext1 {
    padding-top: 0.7rem;
    color: #252525;
}

.maintext2 {
    padding-left: 3rem;
    color: #fd5956;
}

.maintext3 {
    color: #252525;
}

.sameline {
    display: flex;
}

.maintext4 {
    color: #fd5956;
}

.description {
    padding-top: 4vh;
    font-weight: 400;
    font-size: 1rem;
    color: #4d4d4d;
    width: 30vw;
}

.icons {
    padding-top: 2rem;
}

.fa-brands {
    padding-right: 2rem;
}

.button2 {
    background-color: #fd5956;
    margin-bottom: 4rem;
    margin-top: 2rem;
    
}

.button2:hover {
    box-shadow: 0px 0px 30px 15px hsla(1, 98%, 66%, 0.3);
}